<div id="bg"> <span id="top">&nbsp;</span>
  <div id="shell">
    <!-- Header -->
    <div id="header">
      <div class="rel-content">
        <h1 id="logo"><a href="#">Portfolio Site</a></h1>
        <p class="site-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi eros, gravida at gravida eget, rutrum vitae mauris. Donec lacinia iaculis nibh sed commodo.</p>
      </div>
      <span class="abs-span island">&nbsp;</span> <span class="abs-span ships">&nbsp;</span> <span class="abs-span dir">&nbsp;</span> </div>
    <!-- Header -->

    <!-- Container -->
    <div id="container">
      <div class="rel-content">
        <!-- Howdy -->
        <div id="howdy">
          <h2>howdy!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!-- End Howdy -->
        <!-- Portfolio -->
        <div id="portfolio">
          <h2>my portfolio</h2>
          <div class="projects">
            <ul>
              <li>
                <div class="project" *ngFor="let organ of organs">
                  <div class="project-bg" (click)="openOrgan(organ.title,organ.description,organ.image)">
                    <a  class="plus">Open</a> <a ><img src="{{organ.image}}" alt="" /></a>
                  </div>
                </div>
              </li>
            </ul>
            <br>
            <br><br>

            <div *ngIf="showOrgan" class="organ-container">
              <h1 class="organ-title">{{ title }}</h1>
              <img [src]="image" alt="{{ title }}" class="organ-image" />
              <p class="organ-description">{{ description }}</p>
            </div>


          </div>
        </div>

        <!-- End Portfolio -->
        <!-- Contact -->
        <div id="contact">

        </div>
        <!-- End Contact -->
      </div>
      <span class="abs-span animals">&nbsp;</span> <span class="abs-span animal2">&nbsp;</span> <span class="abs-span bottle">&nbsp;</span> </div>
    <!-- Container -->
  </div>
</div>
