canvas {
  height: 100vh !important;
  flex: 1;
}

div {
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

img {
  border: 1px solid #ccc;
  border-radius: 10px;
}
